<% provide :page_title, 'Appointments' %>
<% currently_at 'Appointments' %>

<h1 class="mb-4">New appointment</h1>

<%= render 'shared/errors', object: @appointment %>

<%= form_with model: [:admin, @appointment] do |f| %>
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">
        <%= f.label :user_id %>
        </div>

        <div class="col-sm-10">
        <%= f.select :user_id, get_users, {}, class: 'form-select form-select-lg', :required => true %>
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">
        <%= f.label :window_id %>
        </div>

        <div class="col-sm-10">
        <%= f.select :window_id, get_windows, {}, class: 'form-select form-select-lg', :required => true %>
        </div>
    </div>

    <%= f.submit "Create!", class: 'btn btn-primary btn-lg' %>
<% end %>

<h1 class="my-4 ">My appointments</h1>
<%= paginate @my_appointments %>
<% @my_appointments.each do |appointment| %>
  <article class="card my-3">
    <div class="card-body">
      <h5>Doctor: <%= appointment.window.user.full_name %></h5>
      <h5>Patient: <%= appointment.user.full_name %></h5>
      <h5><%= appointment.window.datetime %></h5>
      <%= link_to 'Destroy', admin_appointment_path(appointment), class: 'btn btn-danger',
        data: {method: :delete, confirm: 'Are you sure?'} %>
    </div>
  </article>
<% end %>
<%= paginate @my_appointments %>

<h1 class="my-4 ">All appointments</h1>
<%= paginate @appointments %>
<% @appointments.each do |appointment| %>
  <article class="card my-3">
    <div class="card-body">
      <h5>Doctor: <%= appointment.window.user.full_name %></h5>
      <h5>Patient: <%= appointment.user.full_name %></h5>
      <h5><%= appointment.window.datetime %></h5>
      <%= link_to 'Destroy', admin_appointment_path(appointment), class: 'btn btn-danger',
        data: {method: :delete, confirm: 'Are you sure?'} %>
    </div>
  </article>
<% end %>
<%= paginate @appointments %>

<h1 class="my-4 ">Appointments to me</h1>
<%= paginate @appointments_to_me %>
<% @appointments_to_me.each do |appointment| %>
  <article class="card my-3">
    <div class="card-body">
      <h5>Doctor: <%= appointment.window.user.full_name %></h5>
      <h5>Patient: <%= appointment.user.full_name %></h5>
      <h5><%= appointment.window.datetime %></h5>
      <%= link_to 'Destroy', admin_appointment_path(appointment), class: 'btn btn-danger',
        data: {method: :delete, confirm: 'Are you sure?'} %>
    </div>
  </article>
<% end %>
<%= paginate @appointments_to_me %>


