<% provide :page_title, 'Windows' %>
<% currently_at 'Windows' %>

<h1 class="mb-4">New window</h1>

<%= render 'shared/errors', object: @window %>

<%= form_with model: [:admin, @user, @window] do |f| %>
    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">
        <%= f.label :user_id, "Doctor" %>
        </div>

        <div class="col-sm-10">
        <%= f.select :user_id, get_doctors, {}, class: 'form-select form-select-lg' %>
        </div>
    </div>

    <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">
        <%= f.label :datetime %>
        </div>

        <div class="col-sm-10">
        <%= f.datetime_field :datetime, class: 'form-control form-control-lg', min: Date.today, max: Date.today+60  %>
        </div>
    </div>

    <%= f.submit "Create!", class: 'btn btn-primary btn-lg' %>
<% end %>

<h1 class="my-4 ">Windows</h1>

<% @windows.each do |window| %>
  <article class="card my-3">
    <div class="card-body">
      <h4><%= window.datetime %></h4>
      <h4>Doctor: <%= window.user.full_name %></h4>
      <%= link_to 'Destroy', admin_user_window_path(window.user.id, window), class: 'btn btn-danger',
        data: {method: :delete, confirm: 'Are you sure?'} %>
    </div>
  </article>
<% end %>



