<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%= full_title(yield(:page_title)) %> </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <%= yield :main_menu %>
  <body>
    <main class="container mt-3">
      <% flash.each do |k, v| %>
        <%= tag.div v, class: "alert alert-#{k}", role: 'alert' %>
      <% end %>
      <%= yield %>
    </main>
  </body>
<!--
  <footer class="bg-light text-center mt-3">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © <%= Time.now.year %> Copyright: 
      <a class="text-dark" href="https://github.com/ilyakrivonozhko">@ilyakrivonozhko</a>
    </div>
  </footer>
-->
</html>
